<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>user</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e98674">  <td>21/07/29 18:03:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vcard.getEncryptedValue_addCustomerInfo()[pri:1, instance:tests.vcard@627551fb]">getEncryptedValue_addCustomerInfo</td> 
  <td>TestNG-tests-1@1159533599</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>21/07/29 18:03:01</td>   <td>399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vcard.getResult(org.testng.ITestResult)[pri:0, instance:tests.vcard@627551fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1159533599</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>21/07/29 18:03:01</td>   <td>-294</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;vcard.setup()[pri:0, instance:tests.vcard@627551fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1159533599</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>21/07/29 18:03:01</td>   <td>-191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;vcard.vCardSignIn()[pri:0, instance:tests.vcard@627551fb]">&gt;&gt;vCardSignIn</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1159533599</td>   <td></td> </tr>
</table>
